<!doctype html>
<html lang="en">
<head>

    <!-- IJZPO Applications Database
    Written by Osewa Dare Joshua for
    PlanShare Technologies
    http://plansharetech.com -->

	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="/static/assets/img/ogunemblemfavicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


    {% block header-title %}
	<title>IJZPO: Dashboard</title>
    {% endblock %}

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- PiChart CSS -->
    <link href="/static/assets/css/pie.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/static/assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="/static/assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/static/assets/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="/static/assets/css/font-awesome.min.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/static/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />


    <link rel="stylesheet" href="/static/assets/css/user-profiles-list-small.css">

</head>

<body>

<div class="wrapper">
    <div class="sidebar" data-color="green" data-image="/static/assets/img/oguninfrastructure.jpg">

    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <img class="logoimage" src="/static/assets/img/ogun%20state%20emblem.png">
                <a href="{% url 'records:index' %}" class="simple-text">
                    Ijebu-Ode Zonal Planning Office
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="{% url 'records:index' %}">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                <li>
                    <a href="{% url 'records:applications' %}">
                        <i class="pe-7s-note2"></i>
                        <p>Applications</p>
                    </a>
                </li>

                 <li>
                    <a href="{% url 'records:staff_profile' %}">
                        <i class="pe-7s-user"></i>
                        <p>Staff Profile</p>
                    </a>
                </li>

                <li>
                    <a href="{% url 'records:maps' %}">
                        <i class="pe-7s-map-marker"></i>
                        <p>Maps</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Ijebu-Ode Zonal Planning Office</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="{% url 'records:index' %}" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                            </a>
                        </li>
                        <li>
                           <a href="{% url 'records:search' %}">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">

                        {%  if user.is_authenticated %}
                         <li>
                            <a>
                                Hello, {{ user }}
                            </a>
                        </li>
                            <li class="dropdown">

                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  <span class="fa fa-plus-square"></span> New
                                    <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                   <li><a href="{% url 'records:createapplication' %}">New Application</a> </li>
                               <li><a href="{% url 'records:addstaff' %}">New Staff</a></li>
                              </ul>
                        </li>
                            <li class="dropdown">

                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="fa fa-user"></span> Account
                                    <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
                              </ul>
                        </li>
                        <li>
                            <a href="{% url 'account_logout' %}">
                                Log out
                            </a>
                        </li>
                       {% else %}
                             <li>
                            <a href="{% url 'account_signup' %}">
                                Signup
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'account_login' %}">
                                Login
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                {% block title %}<h4 class="title">Most Recent Applications</h4>
                                {% endblock %}
                            </div>
                            {% block content %}
                            {% endblock %}
                        </div>

                    </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="http://ogunstate.gov.ng/ogsurpb/">
                                Ogun State Urban and Regional Planning Board
                            </a>
                        </li>
                        <li>
                            <a href="http://ogunstate.gov.ng/mup/">
                                Ministry of Urban and Physical Planning
                            </a>
                        </li>

                    </ul>
                </nav>
                <p class="copyright pull-right">
                    <a class="nohover" href="http://www.plansharetech.com"> &copy; 2017 Delicately Crafted by PlanShare Technologies</a>
                </p>
            </div>
        </footer>


    </div>
</div>

        </div>
    </div>
</div>
</body>

    <!--   Core JS Files   -->
    <script src="/static/assets/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="/static/assets/js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="/static/assets/js/bootstrap-checkbox-radio-switch.js"></script>

	<!--  Charts Plugin -->
	<script src="/static/assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="/static/assets/js/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="/static/assets/js/light-bootstrap-dashboard.js"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/demo.js"></script>

    <script src="/static/assets/js/index.js"></script>

    <script src="/static/assets/js/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).on('click', '.confirm-delete', function(){
        return confirm('Are you sure you want to delete this?');
    })</script>


</html>
